html,
body,
main {
  margin: 0%;
  padding: 0%;
}

main {
  min-height: 100vh;
}

/**
Responsive design debug
*/
/* *,
*::before,
*::after {
  outline: 1px solid red;
} */

footer.footer {
  overflow-x: hidden;
}

.list-item {
  margin: 0% !important;
  padding: 0% !important;
  border-bottom: 2px dotted #e0e0e0;
  list-style-type: hiragana;
  list-style-type: none;
}

.navbar-item,
b-navbar-item {
  background-color: initial !important;
  font-weight: bold;
}

.button {
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

.is-fullheight {
  height: 100% !important;
}

ul {
  list-style-type: none !important;
}

.circular-sui {
  padding: 0.5em 0.5em;
  border-radius: 50%;
  box-shadow: inset 0 0 3px #888;
}
