body,
html,
main {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

/*.title, .button, .navbar-item, b-navbar-item{
  font-family: 'Baloo 2', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", cursive, sans-serif;
}*/

.list-item {
	padding: 7px 0px;
	margin: 0;
	border-bottom: 2px dotted #e0e0e0;
}

.navbar-item, b-navbar-item{
  background-color: initial !important;
  font-weight: bold;
}

.button{
  font-weight: bold !important;
}

a {
  text-decoration: none !important;
}

.is-fullheight{
  height: 100% !important;
}

ul{
  list-style-type: none !important;
}

main {
  min-height: 100vh;
}